<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akuya.mydear">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My calorie"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".LaunchActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".page.NewThirListActivity"
            android:exported="false" />
        <activity
            android:name=".page.FunThirActivity"
            android:exported="false" />
        <activity
            android:name=".page.NewTwoListActivity"
            android:exported="false" />
        <activity
            android:name=".page.FunTwoActivity"
            android:exported="false" />
        <activity
            android:name=".page.NewListActivity"
            android:exported="false" />
        <activity
            android:name=".page.EidtActivity"
            android:exported="false" />
        <activity
            android:name=".page.SuggestActivity"
            android:exported="false" />
        <activity
            android:name=".page.NewHome"
            android:exported="false" />
        <activity
            android:name=".page.UserActivity"
            android:exported="false" />
        <activity
            android:name=".page.UersActivity"
            android:exported="false" />
        <activity
            android:name=".page.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".page.FunActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".page.NotificationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.akuya.mydear.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>